.our-team1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.our-team1-allbong-l2oed-f-as-h8unsplash1 {
  top: 0px;
  left: 0px;
  width: 1516px;
  height: 992px;
  position: absolute;
}
.our-team1-rectangle {
  top: -7px;
  left: -33px;
  width: 1551px;
  height: 994px;
  position: absolute;
}
.our-team1-ourcompany {
  width: 1432px;
  height: 900px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.our-team1-text {
  top: 573px;
  left: 646px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-rectangle61 {
  top: 173px;
  left: 36px;
  width: 1440px;
  height: 136px;
  position: absolute;
}
.our-team1-text05 {
  top: 174px;
  left: 118px;
  color: rgba(255, 255, 255, 1);
  width: 1290px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text07 {
  top: 232px;
  left: 227px;
  color: rgba(255, 255, 255, 1);
  width: 1072px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-group72 {
  top: 339px;
  right: 82px;
  width: 235px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-rectangle63 {
  top: 2px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-rectangle62 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-group75 {
  top: 451px;
  left: 354px;
  width: 232px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-rectangle621 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-rectangle631 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-group721 {
  top: 341px;
  left: 69px;
  width: 232px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-rectangle622 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-rectangle632 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-group74 {
  top: 341px;
  left: 640px;
  width: 232px;
  height: 277px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-rectangle623 {
  top: 135px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-rectangle633 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-image13 {
  top: 119px;
  left: 160px;
  width: 3px;
  height: 10px;
  position: absolute;
}
.our-team1-group71 {
  top: 311px;
  right: 68px;
  width: 260px;
  height: 272px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-ellipse7 {
  top: 37px;
  left: 30px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team1-image31 {
  top: 0px;
  left: 0px;
  width: 260px;
  height: 272px;
  position: absolute;
}
.our-team1-group67 {
  top: 421px;
  left: 341px;
  width: 265px;
  height: 280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-ellipse5 {
  top: 37.0588264465332px;
  left: 30.57695960998535px;
  width: 204px;
  height: 205px;
  position: absolute;
}
.our-team1-rectangle57 {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 280px;
  position: absolute;
}
.our-team1-group76 {
  top: 313px;
  left: 55px;
  width: 260px;
  height: 272px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-group69 {
  top: 0px;
  left: 0px;
  width: 260px;
  height: 272px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-ellipse4 {
  top: 36px;
  left: 30px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team1-image41 {
  top: 0px;
  left: 0px;
  width: 260px;
  height: 272px;
  position: absolute;
}
.our-team1-group68 {
  top: 309px;
  left: 626px;
  width: 260.8289489746094px;
  height: 272.7922668457031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-ellipse3 {
  top: 37.999996185302734px;
  left: 30px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team1-rectangle1 {
  top: 0.7935433387756348px;
  left: 0px;
  width: 260px;
  height: 272px;
  position: absolute;
}
.our-team1-text14 {
  top: 552px;
  left: -460px;
  color: rgba(255, 255, 255, 1);
  width: 1290px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text16 {
  top: 547px;
  left: 232px;
  color: rgba(255, 255, 255, 1);
  width: 1054px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text18 {
  top: 672px;
  left: -165px;
  color: rgb(255, 255, 255);
  width: 1290px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text19 {
  top: 577px;
  left: 72px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text24 {
  top: 701px;
  left: 367px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text31 {
  top: 571px;
  left: 650px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text38 {
  top: 573px;
  color: rgba(15, 13, 13, 1);
  right: 82px;
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-group77 {
  top: 429px;
  left: 397px;
  width: 1119px;
  height: 307px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-group73 {
  top: 16px;
  left: 522px;
  width: 232px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team1-rectangle624 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-rectangle634 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team1-ellipse6 {
  top: 38px;
  left: 538px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team1-image14 {
  top: 0px;
  left: 507px;
  width: 261px;
  height: 276px;
  position: absolute;
}
.our-team1-text45 {
  top: 243px;
  color: rgb(255, 255, 255);
  width: 1000px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-text46 {
  top: 266px;
  left: 532px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-footer {
  width: 100%;
  height: 109px;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #e64d4d;
  border-style: hidden;
  border-width: 5px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: 3px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #3e3d61;
}
.our-team1-container1 {
  top: 28px;
  flex: 0 0 auto;
  left: 869px;
  width: 200px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #0c5cf7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #c7cae1;
}
.our-team1-text51 {
  top: 10px;
  left: 62px;
  color: #000000;
  position: absolute;
  font-size: 16px;
  align-self: center;
}
.our-team1-navlink {
  display: contents;
}
.our-team1-container2 {
  top: 28px;
  flex: 0 0 auto;
  left: 469px;
  width: 200px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #0c5cf7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  text-decoration: none;
}
.our-team1-text52 {
  top: 10px;
  left: 65px;
  color: #ffffff;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: center;
}
.our-team1-text53 {
  top: 553px;
  color: rgb(255, 255, 255);
  right: 82px;
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-header {
  top: 0px;
  left: 9px;
  width: var(--dl-size-size-maxwidth);
  height: 113px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.our-team1-menutabs {
  top: 0px;
  left: -9px;
  width: 1518px;
  height: 113px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(114, 129, 138, 1);
}
.our-team1-text54 {
  top: 49px;
  left: 1068px;
  color: rgb(255, 255, 255);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-rectangle31 {
  top: -15px;
  left: 217px;
  width: 507px;
  height: 133px;
  position: absolute;
  padding-top: var(--dl-space-space-unit);
}
.our-team1-navlink1 {
  display: contents;
}
.our-team1-rectangle40 {
  top: 30px;
  left: 61px;
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 20px;
  text-decoration: none;
}
.our-team1-navlink2 {
  display: contents;
}
.our-team1-tablericonarrowleft {
  top: 48px;
  left: 80px;
  width: 28px;
  height: 29px;
  position: absolute;
  text-decoration: none;
}
.our-team1-logo {
  top: -3px;
  left: 211px;
  width: 507px;
  height: 114px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.our-team1-text55 {
  color: rgba(0, 68, 129, 1);
  right: 88px;
  width: 115px;
  bottom: 8px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  font-family: KoHo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team1-rectangle2 {
  left: 21px;
  width: 287px;
  bottom: 13px;
  height: 13px;
  position: absolute;
}
.our-team1-rectangle3 {
  right: 37px;
  width: 54px;
  bottom: 13px;
  height: 13px;
  position: absolute;
}
.our-team1-text57 {
  top: 0px;
  left: 21px;
  color: rgba(0, 68, 129, 1);
  width: 777px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 767px) {
  .our-team1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-team1-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .our-team1-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .our-team1-header {
    padding: var(--dl-space-space-unit);
  }
}
