.our-team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.our-team-allbong-l2oed-f-as-h8unsplash1 {
  top: 0px;
  left: 0px;
  width: 1516px;
  height: 992px;
  position: absolute;
}
.our-team-rectangle {
  top: -7px;
  left: -33px;
  width: 1551px;
  height: 994px;
  position: absolute;
}
.our-team-header {
  top: 0px;
  left: 9px;
  width: var(--dl-size-size-maxwidth);
  height: 113px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.our-team-menutabs {
  top: 0px;
  left: -9px;
  width: 1518px;
  height: 113px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(114, 129, 138, 1);
}
.our-team-rectangle31 {
  top: -16px;
  left: 79px;
  width: 215px;
  height: 133px;
  position: absolute;
  padding-top: var(--dl-space-space-unit);
}
.our-team-line36 {
  top: 29px;
  left: 566px;
  width: 0;
  height: 64;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  border-color: #ffffff;
  border-width: 1px;
}
.our-team-text {
  top: 49px;
  left: 900px;
  color: rgba(255, 255, 255, 1);
  width: 400px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-navlink {
  display: contents;
}
.our-team-product {
  top: 0px;
  flex: 0 0 auto;
  left: 285px;
  width: 274px;
  height: 114px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.our-team-text02 {
  top: 34px;
  left: 19px;
  color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: center;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.our-team-navlink1 {
  display: contents;
}
.our-team-record {
  top: 0px;
  flex: 0 0 auto;
  left: 70px;
  width: 216px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.our-team-text04 {
  top: 35px;
  left: 8px;
  color: rgb(255, 255, 255);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
}
.our-team-navlink2 {
  display: contents;
}
.our-team-log-out {
  top: 42px;
  right: -88px;
  width: 158px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.our-team-buttonbutton {
  top: 0px;
  right: 0px;
  width: 158px;
  height: 43px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}
.our-team-rectangle6 {
  top: 0px;
  left: 0px;
  width: 158px;
  height: 43px;
  position: absolute;
  border-radius: 10px;
}
.our-team-text05 {
  top: 10px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
}
.our-team-ourcompany {
  width: 1432px;
  height: 900px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.our-team-text07 {
  top: 573px;
  left: 646px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-frame1 {
  left: 36px;
  width: 1440px;
  bottom: 64px;
  height: 113px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.our-team-group63 {
  top: 37px;
  left: 582px;
  width: 276px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0);
}
.our-team-rectangle61 {
  top: 173px;
  left: 36px;
  width: 1440px;
  height: 136px;
  position: absolute;
}
.our-team-text12 {
  top: 174px;
  left: 118px;
  color: rgba(255, 255, 255, 1);
  width: 1290px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text14 {
  top: 232px;
  left: 227px;
  color: rgba(255, 255, 255, 1);
  width: 1072px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-group72 {
  top: 339px;
  right: 82px;
  width: 235px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-rectangle63 {
  top: 2px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-rectangle62 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-group75 {
  top: 451px;
  left: 354px;
  width: 232px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-rectangle621 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-rectangle631 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-group721 {
  top: 341px;
  left: 69px;
  width: 232px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-rectangle622 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-rectangle632 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-group74 {
  top: 341px;
  left: 640px;
  width: 232px;
  height: 277px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-rectangle623 {
  top: 135px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-rectangle633 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-image13 {
  top: 119px;
  left: 160px;
  width: 3px;
  height: 10px;
  position: absolute;
}
.our-team-group71 {
  top: 311px;
  right: 68px;
  width: 260px;
  height: 272px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-ellipse7 {
  top: 37px;
  left: 30px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team-image31 {
  top: 0px;
  left: 0px;
  width: 260px;
  height: 272px;
  position: absolute;
}
.our-team-group67 {
  top: 421px;
  left: 341px;
  width: 265px;
  height: 280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-ellipse5 {
  top: 37.0588264465332px;
  left: 30.57695960998535px;
  width: 204px;
  height: 205px;
  position: absolute;
}
.our-team-rectangle57 {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 280px;
  position: absolute;
}
.our-team-group76 {
  top: 313px;
  left: 55px;
  width: 260px;
  height: 272px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-group69 {
  top: 0px;
  left: 0px;
  width: 260px;
  height: 272px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-ellipse4 {
  top: 36px;
  left: 30px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team-image41 {
  top: 0px;
  left: 0px;
  width: 260px;
  height: 272px;
  position: absolute;
}
.our-team-group68 {
  top: 309px;
  left: 626px;
  width: 260.8289489746094px;
  height: 272.7922668457031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-ellipse3 {
  top: 37.999996185302734px;
  left: 30px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team-rectangle1 {
  top: 0.7935433387756348px;
  left: 0px;
  width: 260px;
  height: 272px;
  position: absolute;
}
.our-team-text21 {
  top: 552px;
  left: -460px;
  color: rgba(255, 255, 255, 1);
  width: 1290px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text23 {
  top: 547px;
  left: 232px;
  color: rgba(255, 255, 255, 1);
  width: 1054px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text25 {
  top: 672px;
  left: -165px;
  color: rgb(255, 255, 255);
  width: 1290px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text26 {
  top: 577px;
  left: 72px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text31 {
  top: 701px;
  left: 367px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text38 {
  top: 571px;
  left: 650px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-group77 {
  top: 429px;
  left: 397px;
  width: 1119px;
  height: 307px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-group73 {
  top: 16px;
  left: 522px;
  width: 232px;
  height: 284px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.our-team-rectangle624 {
  top: 142px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-rectangle634 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 142px;
  position: absolute;
}
.our-team-ellipse6 {
  top: 38px;
  left: 538px;
  width: 200px;
  height: 199px;
  position: absolute;
}
.our-team-image14 {
  top: 0px;
  left: 507px;
  width: 261px;
  height: 276px;
  position: absolute;
}
.our-team-text45 {
  top: 243px;
  color: rgb(255, 255, 255);
  width: 1000px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text46 {
  top: 266px;
  left: 532px;
  color: rgba(15, 13, 13, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text51 {
  top: 571px;
  color: rgba(15, 13, 13, 1);
  right: 82px;
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-text58 {
  top: 552px;
  color: rgb(255, 255, 255);
  right: 93px;
  width: 210px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.our-team-footer {
  width: 100%;
  height: 109px;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #e64d4d;
  border-style: hidden;
  border-width: 5px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: 3px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #3e3d61;
}
.our-team-navlink3 {
  display: contents;
}
.our-team-container1 {
  top: 28px;
  flex: 0 0 auto;
  left: 669px;
  width: 200px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #0c5cf7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  text-decoration: none;
}
.our-team-text59 {
  top: 10px;
  left: 57px;
  color: #ffffff;
  position: absolute;
  font-size: 16px;
  align-self: center;
}
.our-team-container2 {
  top: 28px;
  flex: 0 0 auto;
  left: 929px;
  width: 200px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #0c5cf7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #c7cae1;
}
.our-team-text60 {
  top: 10px;
  left: 62px;
  color: #000000;
  position: absolute;
  font-size: 16px;
  align-self: center;
}
.our-team-navlink4 {
  display: contents;
}
.our-team-container3 {
  top: 28px;
  flex: 0 0 auto;
  left: 405px;
  width: 200px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: #0c5cf7;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  text-decoration: none;
}
.our-team-text61 {
  top: 10px;
  left: 65px;
  color: #ffffff;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: center;
}
@media(max-width: 767px) {
  .our-team-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-team-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .our-team-header {
    padding: var(--dl-space-space-unit);
  }
  .our-team-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
